body {
    margin: 0;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1B244A;
    width: 575px;
    height: 385px;
    margin: 50px auto;
    text-align: center;
}

h2 {
    font-size: 35px;
}

.sub-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: #F94F6D;
    background: black;
    width: 155px;
    height: 120px; 
}

.points {
    display: inline-flex;
    color: #9AABD8;
    background-color: #1B244A;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    padding: px;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.points:hover{
    color: #ffffff;
}

#clear{
    display: block;
    color: #1B244A;
    background-color: #9AABD8; 
    width: 100px;
    height: 50px;
    font-weight: bolder;
    margin: auto;
}

#clear:hover{
    color: #FFFFFF;
}